<div data-index="{{ index }}" class="mountains">
  <div class="mountains-inner" data-index="{{ index }}">
    <div class="mountains-new-snow" data-index="{{ index }}" >
      <div data-index="{{ index }}" class="mountain-info info-selected new-snow"><b>{{ feature.properties.current_new }}"</b></div>
    </div>
    <span class="mountain-name" data-index="{{ index }}"> {{ feature.properties.Name }} </span><br />
  </div>
</div>
