<div id="mountain">
    <span class="close">&times;</span>     
    <!--div id="mountain-header">
      <div class="mountain-header-item">
        <div class="mountain-header-item-inner">
          <div class="mountain-title">Freshies</div>
          <div id="new-snow"> {{ feature.properties.current_new }}"</div>
          <div id="twenty-four-hour">24 Hour</div>
        </div>
      </div>
      <div class="mountain-header-item" id="selected-mountain">
        <div class="mountain-header-item-inner">
          <div class="mountain-title"> {{ feature.properties.Name }} </div>
          <div id="state-name"> {{ feature.properties.State }} </div> 
        </div>
      </div>
      <div class="mountain-header-item">
        <div class="mountain-header-item-inner">
          <div class="mountain-title">Currently</div>
          <div id="temperature">
            {{ feature.properties.hourly_forecast.0.temp }}&deg;
          </div>
          <div id="snowing">Not Snowing</div>
        </div>
      </div>
    </div>
    <!--div id="forecast">
      <div class="sub-title">FreshyCast</div>
      <div class="forecast-day">
        <span>{{ feature.properties.snow_forecast.0.time }} </span>
        <div class="forecast-number">{{ feature.properties.snow_forecast.0.snow_amount }}&quot; </div>
      </div>
      <div class="forecast-day">
        <span>{{ feature.properties.snow_forecast.1.time }} </span>
        <div class="forecast-number">{{ feature.properties.snow_forecast.1.snow_amount }}&quot; </div>
      </div>
      <div class="forecast-day">
        <span>{{ feature.properties.snow_forecast.2.time }} </span>
        <div class="forecast-number">{{ feature.properties.snow_forecast.2.snow_amount }}&quot; </div>
      </div>
    </div-->
    <div class="header mountain-title"> {{ feature.properties.Name }} </div>

    <div class="stats">
      <div class="stat-card">
        <div class="stat" d="snow"> {{feature.properties.current_new}}<span class="sym">&#8221;</span></div>
        <div class="info">24 Hour</div>
      </div>
      <div class="stat-card">
        <div class="stat" id="base"> {{feature.properties.current_new}}<span class="sym">&#8221;</span></div>
        <div class="info">Base depth</div>
      </div>
      <div class="stat-card">
        <div class="stat" id="forecast"> {{feature.properties.current_new}}<span class="sym">&#8221;</span></div>
        <div class="info">Forecast</div>
      </div>
      <div class="stat-card">
        <div class="stat" id="temp"> {{feature.properties.current_new}}<span class="sym">&#176;</span></div>
        <div class="info">Temp.</div>
      </div>
    <div class="report-time">{{ feature.properties.report_time }}</div>
    </div>
    <div class="webcam-container swiper-container">
      <div class="webcam-banner">{{feature.properties.webcams.length}} Webcams </div> 
      <div class="swiper-wrapper">
      </div>
    </div>

</div>
