<div id="selected-mountain">
  {{#if feature.properties }}
    <div id="mountain">
      <div>Mountain:  {{ feature.properties.Name }} </div>
      <div>State:  {{ feature.properties.State }} </div> 
      <div>New Snow:  {{ feature.properties.current_new }} </div>
      <div>Base:  {{ feature.properties.current_base }} </div> 
      <div>Conditions:  {{ feature.properties.current_conditions }} </div> 
    </div>
  {{else }}
    <div id="nav-small">
      <div class="nav-small" id="back"><div class="nav-small-inner"> {{ back }}</div></div>
      <div class="nav-small mtn-nav-small"><div class="nav-small-inner">Mtn 1</div></div>
      <div class="nav-small mtn-nav-small"><div class="nav-small-inner">Mtn 2</div></div>
    </div>
  {{/if }}
</div>