<div id="mountain">
    <div id="mountain-header">
      <div class="mountain-header-item">
        <div class="mountain-header-item-inner">
          <div class="mountain-title">New Snow</div>
          <div id="new-snow"> {{ feature.properties.current_new }}"</div>
        </div>
      </div>
      <div class="mountain-header-item" id="selected-mountain">
        <div class="mountain-header-item-inner">
          <div class="mountain-title"> {{ feature.properties.Name }} </div>
          <div id="state-name"> {{ feature.properties.State }} </div> 
        </div>
      </div>
      <div class="mountain-header-item">
        <div class="mountain-header-item-inner">
          <div class="mountain-title">Currently</div>
          <div id="temperature">
            {{ feature.properties.hourly_forecast.0.temp }}&deg;
          </div>
          <div id="snowing">Not Snowing</div>
        </div>
      </div>
    </div>
    <div id="mountain-body">
      <h3 id="mountain-name-large"> {{ feature.properties.Name }} </h3>
    </div>
</div>