<div id="selected-mountain">
  <div>Mountain:  {{ feature.properties.Name }} </div>
  <div>State:  {{ feature.properties.State }} </div> 
  <div>New Snow:  {{ feature.properties.current_new }} </div>
  <div>Base:  {{ feature.properties.current_base }} </div> 
  <div>Conditions:  {{ feature.properties.current_conditions }} </div> 
</div>